-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: mediportdb
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casesearch`
--

DROP TABLE IF EXISTS `casesearch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `casesearch` (
  `id` int NOT NULL AUTO_INCREMENT,
  `Case No` text COLLATE utf8mb4_unicode_ci,
  `Claim No` text COLLATE utf8mb4_unicode_ci,
  `Registration Number` text COLLATE utf8mb4_unicode_ci,
  `NHPM Id` text COLLATE utf8mb4_unicode_ci,
  `Family Id` text COLLATE utf8mb4_unicode_ci,
  `Patient District` text COLLATE utf8mb4_unicode_ci,
  `Gender` text COLLATE utf8mb4_unicode_ci,
  `Age(Years)` text COLLATE utf8mb4_unicode_ci,
  `Category Details` text COLLATE utf8mb4_unicode_ci,
  `Procedure Details` text COLLATE utf8mb4_unicode_ci,
  `Case Type` text COLLATE utf8mb4_unicode_ci,
  `Case Status` text COLLATE utf8mb4_unicode_ci,
  `Hospital Name` text COLLATE utf8mb4_unicode_ci,
  `Hospital Code` text COLLATE utf8mb4_unicode_ci,
  `Hospital District` text COLLATE utf8mb4_unicode_ci,
  `IP Registration Date` text COLLATE utf8mb4_unicode_ci,
  `Admission Date` text COLLATE utf8mb4_unicode_ci,
  `Preauth Date` text COLLATE utf8mb4_unicode_ci,
  `Preauth Amount(Rs.)` text COLLATE utf8mb4_unicode_ci,
  `Preauth Approve Date` text COLLATE utf8mb4_unicode_ci,
  `Preauth Approved Amount(Rs.)` text COLLATE utf8mb4_unicode_ci,
  `Preauth Rejected Date` text COLLATE utf8mb4_unicode_ci,
  `Surgery Date` text COLLATE utf8mb4_unicode_ci,
  `Death Date` text COLLATE utf8mb4_unicode_ci,
  `Discharge Date` text COLLATE utf8mb4_unicode_ci,
  `Claim Submitted Date` text COLLATE utf8mb4_unicode_ci,
  `Actual Claim Submitted Date` text COLLATE utf8mb4_unicode_ci,
  `Claim Initaiated Amount(Rs.)` text COLLATE utf8mb4_unicode_ci,
  `CPD Approved Amount(Rs.)` text COLLATE utf8mb4_unicode_ci,
  `Claim Approved Amount(Rs.)` text COLLATE utf8mb4_unicode_ci,
  `Assigned Flag` text COLLATE utf8mb4_unicode_ci,
  `Assigned User` text COLLATE utf8mb4_unicode_ci,
  `Assigned Group` text COLLATE utf8mb4_unicode_ci,
  `IP Number` text COLLATE utf8mb4_unicode_ci,
  `Actual Registration Date` text COLLATE utf8mb4_unicode_ci,
  `Claim pending with Medical Auditor` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=288 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casesearch`
--

LOCK TABLES `casesearch` WRITE;
/*!40000 ALTER TABLE `casesearch` DISABLE KEYS */;
/*!40000 ALTER TABLE `casesearch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claimpaid`
--

DROP TABLE IF EXISTS `claimpaid`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claimpaid` (
  `id` int NOT NULL AUTO_INCREMENT,
  `S.NO` text COLLATE utf8mb4_unicode_ci,
  `Case Id` text COLLATE utf8mb4_unicode_ci,
  `case No` text COLLATE utf8mb4_unicode_ci,
  `Case Status` text COLLATE utf8mb4_unicode_ci,
  `Case Type` text COLLATE utf8mb4_unicode_ci,
  `Hospital Name` text COLLATE utf8mb4_unicode_ci,
  `Hospital Account NO.` text COLLATE utf8mb4_unicode_ci,
  `Hospital IFSC Code` text COLLATE utf8mb4_unicode_ci,
  `PAN number` text COLLATE utf8mb4_unicode_ci,
  `CPD Approved Amount` text COLLATE utf8mb4_unicode_ci,
  `TDS Amount` text COLLATE utf8mb4_unicode_ci,
  `RF Amount` text COLLATE utf8mb4_unicode_ci,
  `BFA Amount` text COLLATE utf8mb4_unicode_ci,
  `Final Payment` text COLLATE utf8mb4_unicode_ci,
  `UTR No` text COLLATE utf8mb4_unicode_ci,
  `Payment Sent Date` text COLLATE utf8mb4_unicode_ci,
  `Claim Paid Date` text COLLATE utf8mb4_unicode_ci,
  `Transaction ID` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=354 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claimpaid`
--

LOCK TABLES `claimpaid` WRITE;
/*!40000 ALTER TABLE `claimpaid` DISABLE KEYS */;
/*!40000 ALTER TABLE `claimpaid` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_LR_appuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_LR_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `lr_appuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'contenttypes','contenttype'),(6,'LR','appuser'),(7,'LR','dynamicexceldata'),(5,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('fbgauocdmlrs3wo59vsoufg8lq5l3b1z','e30:1svrF7:3AL3QM8haWYNX8sxnEh_4ICGLusyAVoJimqujEOi9dc','2024-10-16 04:45:41.761000'),('g23uwx0c10ivrvgn4bqd7k64fo6w7yx5','e30:1svrKx:T8JUkJXiEQT4qsmwkKH1tb8fLe60gAyjaOuzMZbyr90','2024-10-16 04:51:43.382000');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lr_appuser`
--

DROP TABLE IF EXISTS `lr_appuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lr_appuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `app_username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `site_username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `site_password` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `organization` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_number` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_address` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_joining` date NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `app_username` (`app_username`),
  UNIQUE KEY `LR_appuser_site_username_ecdf20cf_uniq` (`site_username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lr_appuser`
--

LOCK TABLES `lr_appuser` WRITE;
/*!40000 ALTER TABLE `lr_appuser` DISABLE KEYS */;
INSERT INTO `lr_appuser` VALUES (2,'Esan','Raj','esanraj','CHH004871','VAGUS@2024','GGV','9079362871','esanraj22@gmail.com','Bilaspur','2024-09-30',1,0,0,'2024-11-03 11:08:47.369355','pbkdf2_sha256$870000$Qymjwv9Bs8CWi0RaPq754E$XogqmhaOZgvPLj0golAukzjFyrszttZ+ITlguKikW8Y='),(3,'Esan','Raj','admin','',NULL,NULL,NULL,'esanraj22@gmail.com','','2024-10-26',1,1,1,'2024-10-26 17:18:33.170000','pbkdf2_sha256$870000$UCTv60st8PvUKVhaLo2Qdr$PhbhNZz0sM8JArXI8+VwYLBtbXW0xibr7Ci2qU9KFiA=');
/*!40000 ALTER TABLE `lr_appuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lr_appuser_groups`
--

DROP TABLE IF EXISTS `lr_appuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lr_appuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `appuser_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `LR_appuser_groups_appuser_id_group_id_d8aae869_uniq` (`appuser_id`,`group_id`),
  KEY `LR_appuser_groups_group_id_3cf25987_fk_auth_group_id` (`group_id`),
  CONSTRAINT `LR_appuser_groups_appuser_id_701cdf0f_fk_LR_appuser_id` FOREIGN KEY (`appuser_id`) REFERENCES `lr_appuser` (`id`),
  CONSTRAINT `LR_appuser_groups_group_id_3cf25987_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lr_appuser_groups`
--

LOCK TABLES `lr_appuser_groups` WRITE;
/*!40000 ALTER TABLE `lr_appuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `lr_appuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lr_appuser_user_permissions`
--

DROP TABLE IF EXISTS `lr_appuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lr_appuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `appuser_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `LR_appuser_user_permissi_appuser_id_permission_id_8e95eaac_uniq` (`appuser_id`,`permission_id`),
  KEY `LR_appuser_user_perm_permission_id_5be103f7_fk_auth_perm` (`permission_id`),
  CONSTRAINT `LR_appuser_user_perm_permission_id_5be103f7_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `LR_appuser_user_permissions_appuser_id_39d04e39_fk_LR_appuser_id` FOREIGN KEY (`appuser_id`) REFERENCES `lr_appuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lr_appuser_user_permissions`
--

LOCK TABLES `lr_appuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `lr_appuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `lr_appuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lr_dynamicexceldata`
--

DROP TABLE IF EXISTS `lr_dynamicexceldata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lr_dynamicexceldata` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data` json NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lr_dynamicexceldata`
--

LOCK TABLES `lr_dynamicexceldata` WRITE;
/*!40000 ALTER TABLE `lr_dynamicexceldata` DISABLE KEYS */;
/*!40000 ALTER TABLE `lr_dynamicexceldata` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-11-04 11:02:24
