{% extends 'LR/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
<!--    <h1>Dashboard</h1>-->
    <div class="button-group">
        <form method="get" action="{% url 'update_app_password' %}">
            <button type="submit" class="btn">Update App Password</button>
        </form>
        <form method="get" action="{% url 'update_site_password' %}">
            <button type="submit" class="btn">Update Site Password</button>
        </form>
    </div>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="button-group">
        <form id="DownloadForm" method="post" action="{% url 'download_data' %}">
            {% csrf_token %}
            <button type="submit" class="btn">Download Form</button>
        </form>
        <div id="loader" class="loader"></div>
    </div>
</div>

<script>
    document.getElementById("DownloadForm").addEventListener("submit", function() {
        // Show the loader when the form is submitted
        document.getElementById("loader").style.display = "block";
    });
</script>
{% endblock %}